<div class="registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: 'reg-form' }) do |f| %>
    <%= devise_error_messages! %>
    <h1>Registration</h1>
    <fieldset>
      <legend class="reg-form"><span class="number">1</span>Basic info</legend>
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true %>
 
      <%= f.label :email %>
      <%= f.email_field :email %>
 
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
 
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
 
      <%= f.label :role %>
      <%= f.select(:role,[['Player', 1], ['Server administrator', 2]]) %>
 
      <%= f.label :birthday %>
      <%= f.date_field :birthday, :placeholder => 'dd.mm.yyyy' %>
    </fieldset>

    <center class="rules">
          <%= f.check_box :rules %>
          <%= f.label :rules, 'I accept all site rules!', :class => 'light' %>
    </center>
    <%= f.submit 'Sign up', :class => 'reg-form' %>
  <% end %>
</div>