<div class="servers-container">
  <% @servers.each_with_index do |server, index| %>
  <% if (0..1).include?(index) %>
    <% 
       award = "award-#{index+1}" 
       index = ""
    %>
  <% else %>
    <% award = "" %>
    <% index += 1 %>
  <% end %>
  <div class="server">
    <div class="server-image">
      <%= image_tag server.image.url(:medium) %>
    </div>
    <div class="server-details">
      <div class="header-details">
        <span class="title">
          <%= server.title %>
        </span>
        
        <div class="server-rating">
          <span class="vote-count">
            <%= server.votes %>
          </span>
          <a href="#" class="rating-img star-<%= server.rating.round %>">
          </a>
        </div>
      </div>
      <span class="sep">
      </span>
      <div class="server-description">
        <%= truncate server.description, length: 200 %>
      </div>
      <div class="server-rates">
        <% server.rates.split(",").map{|item| 'x'+item}.take(8).each do |rate| %>
        <span class="rate-badge">
          <%= rate %>
        </span>
        <% end %>
      </div>
    </div>
    <div class="server-award <%= award %>">
      <%= index %>
    </div>
  </div>
  <% end %>
  
</div>