<div class="left-col">
  <div class="sidebar">
    <% if user_signed_in? %>
    <div class="profile">
      <div class="user-avatar">
        <%= image_tag current_user.avatar.url(:thumb) %>
        <div class="user-notify">
          <div class="dashboard-notify unreaded"><span class="dashboard-icon"></span></div>
          <a class="dashboard-notify unreaded appear-notify" style=""><span class="dashboard-icon"></span></a>
          <div class="comments-notify"><span class="comments-icon"></span></div>
          <a class="comments-notify appear-notify" style=""><span class="comments-icon"></span></a>
          <div class="pm-notify"><span class="pm-icon"></span></div>
          <a class="pm-notify appear-notify" style=""><span class="pm-icon"></span></a>
        </div>
      </div>
      <div class="user-name"><%= current_user.username %></div>
      <div class="user-nav">
        <%= link_to "Profile Settings", edit_user_profile_path, class: "user-nav-button" %>
        <%= link_to "Add server", new_server_path, class: "user-nav-button" %>
        <%= link_to "Log out", destroy_user_session_path, class: "user-nav-button" %>
      </div>
    </div>
    <% else %>
    <div class="login-form">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.label :Email %>
        <%= f.text_field :email, class: "login-input" %>
        <%= f.label :Password %>
        <%= f.password_field :password, class: "password-input" %>
        <%= f.submit 'Sign in', class: "login-button" %>
      <% end %> 
      
      <%= image_tag 'selector.png', :class => 'selector-img' %>
      <div class="social-buttons">
        <%= link_to "Facebook",  user_omniauth_authorize_path(:facebook),  :class => "facebook-btn" %>
        <%= link_to "Vkontakte", user_omniauth_authorize_path(:vkontakte), :class => "vk-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>